
.mormat-scheduler-Scheduler-Header-DateBrowser {
    
    button {
        color: #0288d1;
        border: 0;
        background-color: inherit;
        font-size: 1em;
        text-transform: uppercase;
        padding: 0 10px 0 10px;
        cursor: pointer;
        line-height: 30px;
    }
    
    button:hover {
        background-color: lightgray;
    }
    
}
