
.mormat-scheduler-Scheduler-Header-ViewModeSelector {
    
    label {
        font-size: 0.9em;
        text-transform: uppercase;
        color: #0288d1;
        
        padding: 8px 12px 8px 12px;
        cursor: pointer;
        
        
        input {
            display: none;
        }
        
        border: 1px solid #0288d1;
        border-right: none;
        
        &:last-child {
            border-right: 1px solid #0288d1;
        }
        
        &:has(input:checked) {
            background-color: #0288d1;
            color: white;
        }
    }
    
}
