.mormat-scheduler-Scheduler-DailyColumnsSheet-EventContainer {
    
    font: caption;
    font-size: 0.9em;
    border: 1px solid white;
    background-color: white;
    width: 100%;
    padding-top: 5px;
    
    
    & > div[data-role] {
        margin:   1px 3px 0 3px;
        
        &[data-role=content] {
            font-weight: bold;
        }
    }
    
    [data-draggable="resize-event"] {
        height: 5px;
        border: 0px;
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
    
}
