$cell-border: 1px solid lightgray;

.mormat-scheduler-Scheduler-DailyColumnsSheet-TableBody {
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    
    color: rgba(0, 0, 0, 0.54);
    border-spacing: 0;
    border-bottom: $cell-border;

    tbody th {
        font-size: 0.9em;
    }

    tbody {

        th {
            border-left: $cell-border;
            border-right: $cell-border;
        }

        td {
            border-right: $cell-border;
        }


        tr:first-child {
            th {
                border-top: $cell-border;
            }

            td {
                border-top: $cell-border;
            }
        }

        tr:last-child {
            th {
                border-bottom: none;
            }
        }

    }
    
}