.mormat-scheduler-TimelineSheet-Event {
    
    padding-left: 3px;
    
    & > [data-role="header"] {
        background-color: transparent;
    }
    
    & > [data-action="edit"] {
        opacity: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 0;
        overflow: hidden;
    }
    
    &:hover > [data-action="edit"] {
        opacity: 1;
    }    
    
}