.mormat-scheduler-TimelineSheet-EventContent {
    
    & > [data-role="header"] {
        background-color: transparent;
    }
    
    & > [data-action="edit"] {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 0;
        overflow: hidden;
    }
    
}