
.mormat-scheduler-EventsManager-EventForm {
    
    color: black;
    cursor: default;
    font: caption;
    
    label {
        font-size: 14px;
    }
    
    & > p {
        
        margin: 0;
        padding: 0 0 15px 0;
        
        button:not(:last-child) {
            margin-right: 10px;
        }
        
        span {
            background-color: white;
        }
    }
    
}

