.mormat-scheduler-DefaultEventForm {
    
    font-size: medium;
    
    button[type=submit] {
        float: right;
    }
    
    & > p > label {
        width: 100%;
    }
    
    input[type=color] {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    
}
