.mormat-scheduler-Button {
    
    border: 0;
    padding: 5px 10px 5px 10px;
    opacity: 0.75;
    font-size: 17px;
    text-transform: uppercase;

    &:hover {
        opacity: 1;
    }

    &[data-variant=primary] {
        color: white;
        background-color: #0288d1;    
    }
    
    &[data-variant=danger] {
        color: #721c24;
        background-color: white;
        
        &:hover {
            color: white;
            background-color: #721c24; /* FireBrick */
        }
    }

}

.mormat-scheduler-Message {
    
    &[data-variant=danger] {
        color: #721c24;
    }
}

.mormat-scheduler-ColorPicker {
    
    display: block;
    padding-top: 3px;

    label {
        margin-right: 5px;
        padding: 0;
        cursor: pointer;
        border: 2px solid transparent;
        padding: 2px;
        
        > span {
            height: 18px;
        }
        
        input {
            display: none;
        }
    }    
    
}