
.mormat-scheduler-Scheduler-Header {
    overflow: auto;
    line-height: 40px;
    margin-bottom: 10px;
    
    & > div {
        border:  0px;
        width:   50%;
        padding: 0;
        margin:  0;
        float: left;
        
        &:nth-child(2) {
            text-align: right;
        }
        
    }
    
    @import './Header/DateBrowser.scss';
    @import './Header/ViewModeSelector.scss';
}
