
.mormat-scheduler-Scheduler-withLayout {
    
    & > div:first-child {
        
        overflow: auto;
        font-size: 0.9em;
        
        h3 {
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 1.7em;
        }
        
    }
    
}
    