
.mormat-scheduler-Scheduler-withLayout {
    
    & > div:first-child {
        
        overflow: auto;
        
        h3 {
            text-align: center;
            padding: 0;
            margin: 0;
        }
        
    }
    
}
    