$popup-zindex: 99999;

.mormat-scheduler-Widget-withPopup {
    
    [data-role="overlay"] {
        position: fixed;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: $popup-zindex;
        opacity: 0.25;
    }
    
    [data-role="body"] {
        
        [data-role="close"] {
            border-radius: 12px 12px;
            position: absolute;
            top: -12px;
            right: -12px;
            height: 24px;
            background-color: #757575;
            color: white;
            cursor: pointer;
        }
        
        border: 1px solid #757575;
        background-color: white;
        padding: 10px;
        z-index: $popup-zindex + 1;
        
        position: fixed;
        top: 50%;
        left: 50%;
        
        opacity: 0;
        
        /*
        width: 300px;
        height: 200px;
        margin-top: -100px;
        margin-left: -150px;
        */
    }
}

