.mormat-scheduler-Widget-Form-ColorPicker {
    > span {
        display: block;
        padding-top: 3px;
    
        label {
            margin-right: 5px;
            padding: 0;
            cursor: pointer;
            border: 2px solid transparent;
            padding: 2px;

            input {
                display: none;
            }
        }
        
    }
    
    
    
}