
$cell-border: 1px dotted grey;

.mormat-scheduler-Scheduler-MonthlySheet-GridBody {
    
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.54);
    
    border-spacing: 0;

    tbody  {
        tr {
            td {
                margin:  0;
                padding: 18px 0 0 0;
                border-top: $cell-border;
                border-left: $cell-border;
                border-right: $cell-border;
                
                vertical-align: top;
            }

            &:last-child td {
                border-bottom: $cell-border;
            }
        }
    }

    td {
        [data-current-month] { 
            text-align: right;
            color: lightgray;
            
            &[data-current-month=true] {
                color: black;
            }
        }
    }
    
    .disabled .day_of_month {
        color: gray;
    }
    
    
}

