.mormat-scheduler-AdminSection {
    
    fieldset {
        border: 0px;
    }
    
    .mormat-scheduler-Widget-Form-DatePicker {
        white-space:nowrap;
    }
    
    .mormat-scheduler-Widget-Form-DateTimePicker {
        white-space:nowrap;
    }
    
}
