
.mormat-scheduler-Header {
    
    font-size: 0.9em;
    padding-bottom: 20px!important;
    
    & > div {
        overflow: hidden;
    }
    
    h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 1.7em;
    }
    
    
    
}
    