
$primary-color: #0288d1;
$header-height: 40px;

.mormat-scheduler-Header {
    position: relative;
    min-height: $header-height * 2;
    font: caption;
    height: $header-height;
    margin-bottom: 20px;
    
    & > div {
        padding-top: 1px;
        height: $header-height;
    
        h4 {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            
            line-height: $header-height - 2px;
            font-size: 20px;
            padding: 0;
            margin: 0;
        }

        button {

            color: $primary-color;
            border: 1px solid transparent;
            background-color: inherit;
            font-size: 1em;
            text-transform: uppercase;
            padding: 0 10px 0 10px;
            cursor: pointer;
            height: $header-height - 2px;
            line-height: $header-height - 2px;
            display: inline;
            &:hover {
                background-color: lightgray;
            }   

        }

        label {
            line-height: $header-height - 2px;
            font-size: 0.9em;
            text-transform: uppercase;
            color: $primary-color;
            background-color: transparent;

            padding: 8px;
            cursor: pointer;

            border: 1px solid $primary-color;
            border-right: none;
            display: inline;

            &:last-child {
                border-right: 1px solid $primary-color;
            }

            &:has(:checked) {
                background-color: $primary-color;
                color: white;
            }

            input[type="radio"] {
                display: none;
            }
        }
        
    }
    
}
